
@{
    this.ViewBag.Title = this.Localizer["Title"];
}

<div class="bg-light p-3">
    <h2>@this.Localizer["Error."]</h2>
    <hr />
    <h3>@this.Localizer["An error has occured while processing your request."]</h3>
</div>
